:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}

header {
  display: flex;
  justify-content: flex-end;
 
}

.logout-button {
  margin-left: auto;
}

@media (max-width: 768px) {
  .home-container {
    padding: 1rem;
  }
  .logout-button {
    width: 100%;
  }
}
